<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>Información de usuario</h3>
      <form [formGroup]="userForm">
        <section class="form-block">
          <div class="form-group">
            <label for="full_name">Nombre completo</label>
            <input type="text" id="full_name" placeholder="Nombre completo" size="100" formControlName="full_name">
          </div>

          <div class="form-group">
            <label for="city">Estado</label>
            <div class="select" style="width: 55%;">
              <select id="city" formControlName="state">
                <option [value]="state" *ngFor="let state of states">{{state}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
              <label for="city">Ciudad</label>
              <input type="text" id="city" placeholder="Ciudad" size="100" formControlName="city">
            </div>

            <div class="form-group">
              <label for="postal_code">Codigo postal</label>
              <input type="number" id="postal_code" placeholder="Codigo postal" size="100" formControlName="postal_code">
            </div>

          <div class="form-group">
            <label for="address">Dirección</label>
            <input type="text" id="address" placeholder="Dirección" size="100" formControlName="address">
          </div>

          <div class="form-group">
            <label for="phone_number">Télefono</label>
            <input type="number" id="phone_number" placeholder="Télefono de contacto" size="100" style="width: 55%;" formControlName="phone_number">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Email" size="100" formControlName="email">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="userForm.pristine">Guardar información</button>
        </section>
      </form>
    </div>
  </div>
</div>
